{#
/**
 * @file
 * mt_countdown module MTCountDown template.
 */
 #}
<div class="row mt-count-down-block">
  <div class="col-xs-12 col-md-6">
    {{ data.alert_message }}
  </div>
  <div class="col-xs-6 col-md-3">
    <a class="more" href="{{ data.target_url }}">{{ data.dismiss_text|t }}</a>
  </div>
  <div class="col-xs-6 col-md-3">
    <div class="offer-countdown-wrapper">
      <span>{{ 'OFFER EXPIRES IN'|t }}</span>
      <div class="count-down-started"></div>
    </div>
  </div>
</div>
